body{
    background-color: #E4E2DD;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.size{
    width: 200px;
    height: 200px;
}

h1,h2{
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
   
      
  
}

@media screen and (max-width:767px)  {
    .size{
        width:100px;
        height: 100px;
    }
    .logo{
        width: 500px;
        margin-right: 30px;
    }
}